html, body { 
  margin: 0; 
  padding: 0; 
}

body { 
  width: 980px; 
  height: 250px; 
  overflow: hidden; 
}

#banner {
  position: absolute;
  overflow: hidden;
  width: 980px; 
  height: 250px; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #aaaaaa;
}
    
#cover {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

#clickArea { 
  width: 980px; 
  height: 250px; 
  position: absolute; 
}

.retina {
  width: 980px; 
  height: 250px; 
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
}

