const tl = gsap.timeline({ 
  paused: true, 
  repeat: 5,        
  repeatDelay: 2
  });

const width = {{WIDTH}};
const height = {{HEIGHT}};

{{#ASSETS}}
tl.from("#{{id}}", {
  duration: 0.5,
  autoAlpha: 0,
  ease: "sine.inOut"
});
{{/ASSETS}}

tl.play();