@font-face {
  font-family: 'Ebro';
  src: url("../fonts/Ebro-Regular.woff") format('woff'), url("../fonts/Ebro-Regular.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ebro';
  src: url("../fonts/Ebro-Bold.woff") format('woff'), url("../fonts/Ebro-Bold.otf") format('opentype');
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#banner {
  position: absolute;
  overflow: hidden;
  width: 320px;
  height: 100px;
  box-sizing: border-box;
  background: #f5f3eb;
  border: 1px solid #aaa;
}
#cover {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f5f3eb;
}
.retina {
  background-size: contain;
  width: 320px;
  height: 100px;
  top: 0px;
  left: 0px;
}
.retinaCover {
  background-size: cover;
  width: 320px;
  height: 100px;
  top: 0px;
  left: 0px;
}
#cta1 {
  position: absolute;
  width: 30%;
  height: 23%;
  cursor: pointer;
  z-index: 10;
  top: 44px;
  left: 218px;
}
#cta2 {
  position: absolute;
  width: 30%;
  height: 23%;
  cursor: pointer;
  z-index: 10;
  top: 61px;
  left: 218px;
}
#cta1b,
#cta2b {
  visibility: hidden;
}
#cta1:hover #cta1a {
  visibility: hidden;
}
#cta1:hover #cta1b {
  visibility: visible;
}
#cta2:hover #cta2a {
  visibility: hidden;
}
#cta2:hover #cta2b {
  visibility: visible;
}
#legalCopy {
  background-color: #000;
  width: 304px;
  height: 64px;
  top: 100px;
  position: absolute;
  z-index: 30;
  color: #fff;
  font-family: 'Ebro', Arial, sans-serif;
  font-size: 11px;
  line-height: 1.35;
  font-weight: 400;
  padding: 7px;
  overflow: scroll;
  transition: top 0.6s ease-out;
}
#legalCopy strong {
  font-weight: 700;
}
#legalCopy.is-visible {
  top: 20px;
}
#legalClose {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  background: none;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
}
#legalClose:hover {
  opacity: 0.7;
}
#legalClick {
  width: 71px;
  height: 11px;
  position: absolute;
  top: 84px;
  left: 131px;
  overflow: hidden;
  z-index: 20;
  cursor: pointer;
}
#fondo1 {
  background-image: url("../images/fondo1.jpg");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
}
#fondo2 {
  background-image: url("../images/fondo2.jpg");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
}
#slogan {
  background-image: url("../images/slogan.png");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
}
#hl1 {
  background-image: url("../images/hl1.png");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
}
#subhl1 {
  background-image: url("../images/subhl1.png");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
}
#precio {
  background-image: url("../images/precio.png");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
}
#subhl2 {
  background-image: url("../images/subhl2.png");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
}
#subhl3 {
  background-image: url("../images/subhl3.png");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
}
#logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
}
#legal {
  background-image: url("../images/legal.png");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
  width: 320px;
  height: 100px;
  top: -85px;
  left: -132px;
  position: absolute;
}
#stickers {
  background-image: url("../images/stickers.png");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
}
#cta1a {
  background-image: url("../images/cta1a.png");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
  width: 100%;
  height: 65%;
  background-size: 100%;
  z-index: 10;
}
#cta1b {
  background-image: url("../images/cta1b.png");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
  width: 100%;
  height: 65%;
  background-size: 100%;
  z-index: 10;
}
#cta2a {
  background-image: url("../images/cta2a.png");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
  width: 100%;
  height: 65%;
  background-size: 100%;
  z-index: 20;
}
#cta2b {
  background-image: url("../images/cta2b.png");
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(0.02deg);
  transform-style: preserve-3d;
  width: 100%;
  height: 65%;
  background-size: 100%;
  z-index: 20;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLG9CQUFvQjtFQUNwQiwyR0FBMkc7RUFDM0csaUJBQWlCO0VBQ2pCLG1CQUFtQjtDQUNwQjtBQUNEO0VBQ0Usb0JBQW9CO0VBQ3BCLHFHQUFxRztFQUNyRyxpQkFBaUI7RUFDakIsbUJBQW1CO0NBQ3BCO0FBQ0Q7RUFDRSxVQUFVO0VBQ1YsV0FBVztFQUNYLGlCQUFpQjtDQUNsQjtBQUNEO0VBQ0UsbUJBQW1CO0VBQ25CLGlCQUFpQjtFQUNqQixhQUFhO0VBQ2IsY0FBYztFQUdkLHVCQUF1QjtFQUN2QixvQkFBb0I7RUFDcEIsdUJBQXVCO0NBQ3hCO0FBQ0Q7RUFDRSxlQUFlO0VBQ2YsbUJBQW1CO0VBQ25CLFlBQVk7RUFDWixhQUFhO0VBQ2Isb0JBQW9CO0NBQ3JCO0FBQ0Q7RUFDRSx5QkFBeUI7RUFDekIsYUFBYTtFQUNiLGNBQWM7RUFDZCxTQUFTO0VBQ1QsVUFBVTtDQUNYO0FBQ0Q7RUFDRSx1QkFBdUI7RUFDdkIsYUFBYTtFQUNiLGNBQWM7RUFDZCxTQUFTO0VBQ1QsVUFBVTtDQUNYO0FBQ0Q7RUFDRSxtQkFBbUI7RUFDbkIsV0FBVztFQUNYLFlBQVk7RUFDWixnQkFBZ0I7RUFDaEIsWUFBWTtFQUNaLFVBQVU7RUFDVixZQUFZO0NBQ2I7QUFDRDtFQUNFLG1CQUFtQjtFQUNuQixXQUFXO0VBQ1gsWUFBWTtFQUNaLGdCQUFnQjtFQUNoQixZQUFZO0VBQ1osVUFBVTtFQUNWLFlBQVk7Q0FDYjtBQUNEOztFQUVFLG1CQUFtQjtDQUNwQjtBQUNEO0VBQ0UsbUJBQW1CO0NBQ3BCO0FBQ0Q7RUFDRSxvQkFBb0I7Q0FDckI7QUFDRDtFQUNFLG1CQUFtQjtDQUNwQjtBQUNEO0VBQ0Usb0JBQW9CO0NBQ3JCO0FBQ0Q7RUFDRSx1QkFBdUI7RUFDdkIsYUFBYTtFQUNiLGFBQWE7RUFDYixXQUFXO0VBQ1gsbUJBQW1CO0VBQ25CLFlBQVk7RUFDWixZQUFZO0VBQ1osdUNBQXVDO0VBQ3ZDLGdCQUFnQjtFQUNoQixrQkFBa0I7RUFDbEIsaUJBQWlCO0VBQ2pCLGFBQWE7RUFDYixpQkFBaUI7RUFDakIsOEJBQThCO0NBQy9CO0FBQ0Q7RUFDRSxpQkFBaUI7Q0FDbEI7QUFDRDtFQUNFLFVBQVU7Q0FDWDtBQUNEO0VBQ0UsbUJBQW1CO0VBQ25CLFNBQVM7RUFDVCxXQUFXO0VBQ1gsWUFBWTtFQUNaLGFBQWE7RUFDYixrQkFBa0I7RUFDbEIsaUJBQWlCO0VBQ2pCLGFBQWE7RUFDYixZQUFZO0VBQ1osZ0JBQWdCO0VBQ2hCLGlCQUFpQjtFQUNqQixnQkFBZ0I7RUFDaEIsV0FBVztDQUNaO0FBQ0Q7RUFDRSxhQUFhO0NBQ2Q7QUFDRDtFQUNFLFlBQVk7RUFDWixhQUFhO0VBQ2IsbUJBQW1CO0VBQ25CLFVBQVU7RUFDVixZQUFZO0VBQ1osaUJBQWlCO0VBQ2pCLFlBQVk7RUFDWixnQkFBZ0I7Q0FDakI7QUFDRDtFQUNFLDhDQUE4QztFQUM5Qyw2QkFBNkI7RUFDN0IsbUJBQW1CO0VBS25CLDJCQUEyQjtFQUMzQiw2QkFBNkI7Q0FDOUI7QUFDRDtFQUNFLDhDQUE4QztFQUM5Qyw2QkFBNkI7RUFDN0IsbUJBQW1CO0VBS25CLDJCQUEyQjtFQUMzQiw2QkFBNkI7Q0FDOUI7QUFDRDtFQUNFLDhDQUE4QztFQUM5Qyw2QkFBNkI7RUFDN0IsbUJBQW1CO0VBS25CLDJCQUEyQjtFQUMzQiw2QkFBNkI7Q0FDOUI7QUFDRDtFQUNFLDJDQUEyQztFQUMzQyw2QkFBNkI7RUFDN0IsbUJBQW1CO0VBS25CLDJCQUEyQjtFQUMzQiw2QkFBNkI7Q0FDOUI7QUFDRDtFQUNFLDhDQUE4QztFQUM5Qyw2QkFBNkI7RUFDN0IsbUJBQW1CO0VBS25CLDJCQUEyQjtFQUMzQiw2QkFBNkI7Q0FDOUI7QUFDRDtFQUNFLDhDQUE4QztFQUM5Qyw2QkFBNkI7RUFDN0IsbUJBQW1CO0VBS25CLDJCQUEyQjtFQUMzQiw2QkFBNkI7Q0FDOUI7QUFDRDtFQUNFLDhDQUE4QztFQUM5Qyw2QkFBNkI7RUFDN0IsbUJBQW1CO0VBS25CLDJCQUEyQjtFQUMzQiw2QkFBNkI7Q0FDOUI7QUFDRDtFQUNFLDhDQUE4QztFQUM5Qyw2QkFBNkI7RUFDN0IsbUJBQW1CO0VBS25CLDJCQUEyQjtFQUMzQiw2QkFBNkI7Q0FDOUI7QUFDRDtFQUNFLDRDQUE0QztFQUM1Qyw2QkFBNkI7RUFDN0IsbUJBQW1CO0VBS25CLDJCQUEyQjtFQUMzQiw2QkFBNkI7Q0FDOUI7QUFDRDtFQUNFLDZDQUE2QztFQUM3Qyw2QkFBNkI7RUFDN0IsbUJBQW1CO0VBS25CLDJCQUEyQjtFQUMzQiw2QkFBNkI7RUFDN0IsYUFBYTtFQUNiLGNBQWM7RUFDZCxXQUFXO0VBQ1gsYUFBYTtFQUNiLG1CQUFtQjtDQUNwQjtBQUNEO0VBQ0UsZ0RBQWdEO0VBQ2hELDZCQUE2QjtFQUM3QixtQkFBbUI7RUFLbkIsMkJBQTJCO0VBQzNCLDZCQUE2QjtDQUM5QjtBQUNEO0VBQ0UsNkNBQTZDO0VBQzdDLDZCQUE2QjtFQUM3QixtQkFBbUI7RUFLbkIsMkJBQTJCO0VBQzNCLDZCQUE2QjtFQUM3QixZQUFZO0VBQ1osWUFBWTtFQUNaLHNCQUFzQjtFQUN0QixZQUFZO0NBQ2I7QUFDRDtFQUNFLDZDQUE2QztFQUM3Qyw2QkFBNkI7RUFDN0IsbUJBQW1CO0VBS25CLDJCQUEyQjtFQUMzQiw2QkFBNkI7RUFDN0IsWUFBWTtFQUNaLFlBQVk7RUFDWixzQkFBc0I7RUFDdEIsWUFBWTtDQUNiO0FBQ0Q7RUFDRSw2Q0FBNkM7RUFDN0MsNkJBQTZCO0VBQzdCLG1CQUFtQjtFQUtuQiwyQkFBMkI7RUFDM0IsNkJBQTZCO0VBQzdCLFlBQVk7RUFDWixZQUFZO0VBQ1osc0JBQXNCO0VBQ3RCLFlBQVk7Q0FDYjtBQUNEO0VBQ0UsNkNBQTZDO0VBQzdDLDZCQUE2QjtFQUM3QixtQkFBbUI7RUFLbkIsMkJBQTJCO0VBQzNCLDZCQUE2QjtFQUM3QixZQUFZO0VBQ1osWUFBWTtFQUNaLHNCQUFzQjtFQUN0QixZQUFZO0NBQ2IiLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGZvbnQtZmFjZSB7XG4gIGZvbnQtZmFtaWx5OiAnRWJybyc7XG4gIHNyYzogdXJsKFwiLi4vZm9udHMvRWJyby1SZWd1bGFyLndvZmZcIikgZm9ybWF0KCd3b2ZmJyksIHVybChcIi4uL2ZvbnRzL0Vicm8tUmVndWxhci5vdGZcIikgZm9ybWF0KCdvcGVudHlwZScpO1xuICBmb250LXdlaWdodDogNDAwO1xuICBmb250LXN0eWxlOiBub3JtYWw7XG59XG5AZm9udC1mYWNlIHtcbiAgZm9udC1mYW1pbHk6ICdFYnJvJztcbiAgc3JjOiB1cmwoXCIuLi9mb250cy9FYnJvLUJvbGQud29mZlwiKSBmb3JtYXQoJ3dvZmYnKSwgdXJsKFwiLi4vZm9udHMvRWJyby1Cb2xkLm90ZlwiKSBmb3JtYXQoJ29wZW50eXBlJyk7XG4gIGZvbnQtd2VpZ2h0OiA3MDA7XG4gIGZvbnQtc3R5bGU6IG5vcm1hbDtcbn1cbmJvZHkge1xuICBtYXJnaW46IDA7XG4gIHBhZGRpbmc6IDA7XG4gIG92ZXJmbG93OiBoaWRkZW47XG59XG4jYmFubmVyIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICBvdmVyZmxvdzogaGlkZGVuO1xuICB3aWR0aDogMzIwcHg7XG4gIGhlaWdodDogMTAwcHg7XG4gIC13ZWJraXQtYm94LXNpemluZzogYm9yZGVyLWJveDtcbiAgLW1vei1ib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICBiYWNrZ3JvdW5kOiAjZjVmM2ViO1xuICBib3JkZXI6IDFweCBzb2xpZCAjYWFhO1xufVxuI2NvdmVyIHtcbiAgZGlzcGxheTogYmxvY2s7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgd2lkdGg6IDEwMCU7XG4gIGhlaWdodDogMTAwJTtcbiAgYmFja2dyb3VuZDogI2Y1ZjNlYjtcbn1cbi5yZXRpbmEge1xuICBiYWNrZ3JvdW5kLXNpemU6IGNvbnRhaW47XG4gIHdpZHRoOiAzMjBweDtcbiAgaGVpZ2h0OiAxMDBweDtcbiAgdG9wOiAwcHg7XG4gIGxlZnQ6IDBweDtcbn1cbi5yZXRpbmFDb3ZlciB7XG4gIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gIHdpZHRoOiAzMjBweDtcbiAgaGVpZ2h0OiAxMDBweDtcbiAgdG9wOiAwcHg7XG4gIGxlZnQ6IDBweDtcbn1cbiNjdGExIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB3aWR0aDogMzAlO1xuICBoZWlnaHQ6IDIzJTtcbiAgY3Vyc29yOiBwb2ludGVyO1xuICB6LWluZGV4OiAxMDtcbiAgdG9wOiA0NHB4O1xuICBsZWZ0OiAyMThweDtcbn1cbiNjdGEyIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB3aWR0aDogMzAlO1xuICBoZWlnaHQ6IDIzJTtcbiAgY3Vyc29yOiBwb2ludGVyO1xuICB6LWluZGV4OiAxMDtcbiAgdG9wOiA2MXB4O1xuICBsZWZ0OiAyMThweDtcbn1cbiNjdGExYixcbiNjdGEyYiB7XG4gIHZpc2liaWxpdHk6IGhpZGRlbjtcbn1cbiNjdGExOmhvdmVyICNjdGExYSB7XG4gIHZpc2liaWxpdHk6IGhpZGRlbjtcbn1cbiNjdGExOmhvdmVyICNjdGExYiB7XG4gIHZpc2liaWxpdHk6IHZpc2libGU7XG59XG4jY3RhMjpob3ZlciAjY3RhMmEge1xuICB2aXNpYmlsaXR5OiBoaWRkZW47XG59XG4jY3RhMjpob3ZlciAjY3RhMmIge1xuICB2aXNpYmlsaXR5OiB2aXNpYmxlO1xufVxuI2xlZ2FsQ29weSB7XG4gIGJhY2tncm91bmQtY29sb3I6ICMwMDA7XG4gIHdpZHRoOiAzMDRweDtcbiAgaGVpZ2h0OiA2NHB4O1xuICB0b3A6IDEwMHB4O1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHotaW5kZXg6IDMwO1xuICBjb2xvcjogI2ZmZjtcbiAgZm9udC1mYW1pbHk6ICdFYnJvJywgQXJpYWwsIHNhbnMtc2VyaWY7XG4gIGZvbnQtc2l6ZTogMTFweDtcbiAgbGluZS1oZWlnaHQ6IDEuMzU7XG4gIGZvbnQtd2VpZ2h0OiA0MDA7XG4gIHBhZGRpbmc6IDdweDtcbiAgb3ZlcmZsb3c6IHNjcm9sbDtcbiAgdHJhbnNpdGlvbjogdG9wIDAuNnMgZWFzZS1vdXQ7XG59XG4jbGVnYWxDb3B5IHN0cm9uZyB7XG4gIGZvbnQtd2VpZ2h0OiA3MDA7XG59XG4jbGVnYWxDb3B5LmlzLXZpc2libGUge1xuICB0b3A6IDIwcHg7XG59XG4jbGVnYWxDbG9zZSB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOiA2cHg7XG4gIHJpZ2h0OiA2cHg7XG4gIHdpZHRoOiAxOHB4O1xuICBoZWlnaHQ6IDE4cHg7XG4gIGxpbmUtaGVpZ2h0OiAxOHB4O1xuICBiYWNrZ3JvdW5kOiBub25lO1xuICBib3JkZXI6IG5vbmU7XG4gIGNvbG9yOiAjZmZmO1xuICBmb250LXNpemU6IDE0cHg7XG4gIGZvbnQtd2VpZ2h0OiA3MDA7XG4gIGN1cnNvcjogcG9pbnRlcjtcbiAgcGFkZGluZzogMDtcbn1cbiNsZWdhbENsb3NlOmhvdmVyIHtcbiAgb3BhY2l0eTogMC43O1xufVxuI2xlZ2FsQ2xpY2sge1xuICB3aWR0aDogNzFweDtcbiAgaGVpZ2h0OiAxMXB4O1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHRvcDogODRweDtcbiAgbGVmdDogMTMxcHg7XG4gIG92ZXJmbG93OiBoaWRkZW47XG4gIHotaW5kZXg6IDIwO1xuICBjdXJzb3I6IHBvaW50ZXI7XG59XG4jZm9uZG8xIHtcbiAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiLi4vaW1hZ2VzL2ZvbmRvMS5qcGdcIik7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAtbW96LXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1vLXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1tcy10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICB0cmFuc2Zvcm06IHJvdGF0ZSgwLjAyZGVnKTtcbiAgdHJhbnNmb3JtLXN0eWxlOiBwcmVzZXJ2ZS0zZDtcbn1cbiNmb25kbzIge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi9pbWFnZXMvZm9uZG8yLmpwZ1wiKTtcbiAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICAtd2Via2l0LXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1tb3otdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgLW8tdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgLW1zLXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIHRyYW5zZm9ybTogcm90YXRlKDAuMDJkZWcpO1xuICB0cmFuc2Zvcm0tc3R5bGU6IHByZXNlcnZlLTNkO1xufVxuI3Nsb2dhbiB7XG4gIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uL2ltYWdlcy9zbG9nYW4ucG5nXCIpO1xuICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIC13ZWJraXQtdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgLW1vei10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAtby10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAtbXMtdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgdHJhbnNmb3JtOiByb3RhdGUoMC4wMmRlZyk7XG4gIHRyYW5zZm9ybS1zdHlsZTogcHJlc2VydmUtM2Q7XG59XG4jaGwxIHtcbiAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiLi4vaW1hZ2VzL2hsMS5wbmdcIik7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAtbW96LXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1vLXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1tcy10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICB0cmFuc2Zvcm06IHJvdGF0ZSgwLjAyZGVnKTtcbiAgdHJhbnNmb3JtLXN0eWxlOiBwcmVzZXJ2ZS0zZDtcbn1cbiNzdWJobDEge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi9pbWFnZXMvc3ViaGwxLnBuZ1wiKTtcbiAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICAtd2Via2l0LXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1tb3otdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgLW8tdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgLW1zLXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIHRyYW5zZm9ybTogcm90YXRlKDAuMDJkZWcpO1xuICB0cmFuc2Zvcm0tc3R5bGU6IHByZXNlcnZlLTNkO1xufVxuI3ByZWNpbyB7XG4gIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uL2ltYWdlcy9wcmVjaW8ucG5nXCIpO1xuICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIC13ZWJraXQtdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgLW1vei10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAtby10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAtbXMtdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgdHJhbnNmb3JtOiByb3RhdGUoMC4wMmRlZyk7XG4gIHRyYW5zZm9ybS1zdHlsZTogcHJlc2VydmUtM2Q7XG59XG4jc3ViaGwyIHtcbiAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiLi4vaW1hZ2VzL3N1YmhsMi5wbmdcIik7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAtbW96LXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1vLXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1tcy10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICB0cmFuc2Zvcm06IHJvdGF0ZSgwLjAyZGVnKTtcbiAgdHJhbnNmb3JtLXN0eWxlOiBwcmVzZXJ2ZS0zZDtcbn1cbiNzdWJobDMge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi9pbWFnZXMvc3ViaGwzLnBuZ1wiKTtcbiAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICAtd2Via2l0LXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1tb3otdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgLW8tdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgLW1zLXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIHRyYW5zZm9ybTogcm90YXRlKDAuMDJkZWcpO1xuICB0cmFuc2Zvcm0tc3R5bGU6IHByZXNlcnZlLTNkO1xufVxuI2xvZ28ge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi9pbWFnZXMvbG9nby5wbmdcIik7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAtbW96LXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1vLXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1tcy10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICB0cmFuc2Zvcm06IHJvdGF0ZSgwLjAyZGVnKTtcbiAgdHJhbnNmb3JtLXN0eWxlOiBwcmVzZXJ2ZS0zZDtcbn1cbiNsZWdhbCB7XG4gIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uL2ltYWdlcy9sZWdhbC5wbmdcIik7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAtbW96LXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1vLXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1tcy10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICB0cmFuc2Zvcm06IHJvdGF0ZSgwLjAyZGVnKTtcbiAgdHJhbnNmb3JtLXN0eWxlOiBwcmVzZXJ2ZS0zZDtcbiAgd2lkdGg6IDMyMHB4O1xuICBoZWlnaHQ6IDEwMHB4O1xuICB0b3A6IC04NXB4O1xuICBsZWZ0OiAtMTMycHg7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbn1cbiNzdGlja2VycyB7XG4gIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uL2ltYWdlcy9zdGlja2Vycy5wbmdcIik7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAtbW96LXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1vLXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1tcy10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICB0cmFuc2Zvcm06IHJvdGF0ZSgwLjAyZGVnKTtcbiAgdHJhbnNmb3JtLXN0eWxlOiBwcmVzZXJ2ZS0zZDtcbn1cbiNjdGExYSB7XG4gIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uL2ltYWdlcy9jdGExYS5wbmdcIik7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAtbW96LXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1vLXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1tcy10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICB0cmFuc2Zvcm06IHJvdGF0ZSgwLjAyZGVnKTtcbiAgdHJhbnNmb3JtLXN0eWxlOiBwcmVzZXJ2ZS0zZDtcbiAgd2lkdGg6IDEwMCU7XG4gIGhlaWdodDogNjUlO1xuICBiYWNrZ3JvdW5kLXNpemU6IDEwMCU7XG4gIHotaW5kZXg6IDEwO1xufVxuI2N0YTFiIHtcbiAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiLi4vaW1hZ2VzL2N0YTFiLnBuZ1wiKTtcbiAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICAtd2Via2l0LXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1tb3otdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgLW8tdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgLW1zLXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIHRyYW5zZm9ybTogcm90YXRlKDAuMDJkZWcpO1xuICB0cmFuc2Zvcm0tc3R5bGU6IHByZXNlcnZlLTNkO1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiA2NSU7XG4gIGJhY2tncm91bmQtc2l6ZTogMTAwJTtcbiAgei1pbmRleDogMTA7XG59XG4jY3RhMmEge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi9pbWFnZXMvY3RhMmEucG5nXCIpO1xuICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIC13ZWJraXQtdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgLW1vei10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAtby10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAtbXMtdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgdHJhbnNmb3JtOiByb3RhdGUoMC4wMmRlZyk7XG4gIHRyYW5zZm9ybS1zdHlsZTogcHJlc2VydmUtM2Q7XG4gIHdpZHRoOiAxMDAlO1xuICBoZWlnaHQ6IDY1JTtcbiAgYmFja2dyb3VuZC1zaXplOiAxMDAlO1xuICB6LWluZGV4OiAyMDtcbn1cbiNjdGEyYiB7XG4gIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uL2ltYWdlcy9jdGEyYi5wbmdcIik7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAtbW96LXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1vLXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gIC1tcy10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICB0cmFuc2Zvcm06IHJvdGF0ZSgwLjAyZGVnKTtcbiAgdHJhbnNmb3JtLXN0eWxlOiBwcmVzZXJ2ZS0zZDtcbiAgd2lkdGg6IDEwMCU7XG4gIGhlaWdodDogNjUlO1xuICBiYWNrZ3JvdW5kLXNpemU6IDEwMCU7XG4gIHotaW5kZXg6IDIwO1xufVxuIl19 */